
body{
    overflow-x: hidden;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ffc107; 
}

.headTop{
    background: #ff9700;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
}
.topnav a{
    padding-left: 20px;
}
.textyellow{
    color: #ff9700;
}
.logoWrap {
    padding: 50px;
    background: #000;
}
.navbar-nav {
    background: #ff9700;
    width: 100%;
    box-shadow: 0px 7px 5px 0px rgb(0 0 0 / 35%);
}
.navbar-nav li{
    padding:  0 20px;
    font-size: 18px;
    font-weight: 500;
}
.navbar-nav li a{
color: #fff;
}
.navbar {
    margin-top: -20px;
}
.nav-link:hover{
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  color: #ff9700;
}
.nav-link{
  transition: all 0.3s ease-in-out;
}
.menusearch{
  box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 15%);
  margin-top: 20px;
  border-radius: 00px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 90%;
}
.search-submit{
  box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 15%);
  margin-top: 20px;
  border-radius: 00px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 10%;
  border: none;
  background: #ff9700;
  color: #fff;
  font-weight: 600;
}
.searchWrap{
  display: none;
  width: 97%;
  margin: 0 auto;
}
.searchWrap input{
  display: inline-flex;
}
.search{
    align-items: center;
    background: #fff;
    width: 30px;
    height: 30px;
    color: #000!important;
    margin-top: 6px;
    display: flex;
    justify-content: center;
}
.bannerWrap img{
    width: 100%;
}
.bannerWrap{
    margin-top: 20px;
}
.cardimg img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.greenTxt{
    color: rgb(75, 190, 46);
}
.cardInfo{
    padding: 5%;
}
.cardInfo h5{
    font-size: 18px;
    font-weight: 700;
    padding-top: 10px;
    color: #000;
}
.cardInfo a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.cardData{
    padding: 5%;
    font-size: 10px;
    font-weight: 600;
    color: rgb(170, 170, 170);  
}
.card{
    box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 15%);
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    transition: all 0.3s ease-in-out; 
}
.card:hover {
  box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 10%);
  border-radius: 10px;
  border: none;
  margin-top: 30px;
  transition: all 0.3s ease-in-out; 
}
.cardwrap h3{
font-weight: 800;
}
.entstoryWrap{
    background: #ff9700;
    height: 160px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.entstoryWrap h3{
    color: #fff;
    font-weight: 800;
    margin-top: 30px;
}
.wrap_ent{
    margin-top: -80px;
}
.add1 img{
    width: 100%;
}
.newswrap{
    background: #6e6e6e;
    height: 160px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.newswrap h3{
    color: #fff;
    font-weight: 800;
    margin-top: 30px;
}
.clientsWrap img{
    width: 150px;
}
.clientsWrap {
  height: 100px!important;
}
.clientsWrap .slick-list{
  height: 100px;
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
.slickslider{
  position: relative;
}
.sliderTxt{
  position: absolute;
    top: 25%;
    /* left: 10%; */
    color: #fff;
    width: 100%;
    text-align: center;
}
.sliderTxt h2{
  font-size: 3.3rem;
  font-weight: 600;
}
.sliderTxt p{
  font-size: 1.3rem;
  font-weight: 500;
}

.slickslider::before{
  content: '';
  position: absolute;
  background: #24272854;
  width: 100%;
  height: 100%;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


.animate {
  -webkit-animation-name: animate;
  -webkit-animation-duration: 1s;
  animation-name: animate;
  animation-duration: 1s;
}

@keyframes animate {
  from {
    transform: scale(1.1) rotateY(10deg);
  }
  to {
    transform: scale(1) rotateY(0deg);
  }
}
.slick-next{
  position: absolute;
    bottom: 20px;
    left: 51%;
    height: 45px;
    width: 40px;
    background: url(../images/arrow-right.png) no-repeat;
    background-size: contain;
    border: none;
}

.slick-prev{
  position: absolute;
  bottom: 20px;
  left: 46%;
  height: 45px;
  z-index: 99;
  width: 40px;
  background: url(../images/arrow-left.png) no-repeat;
  background-size: contain;
  border: none;
}
.slick-next:focus{
  outline: 0;
}
.slick-prev:focus{
  outline: 0;
}
.slick-track{
height: 550px!important;
}
.row{
  margin-left: 0!important;
  margin-right: 0!important;
}
.loaderWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: absolute;
  z-index: 999;
  width: 100%;
  overflow: hidden;
}
.loaderWrap::before{
  content: '';
  position: absolute;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}
.loaderWrap img{
position: absolute;
z-index: 99999;
}
.slick-slide{
height: 100px!important;
}
.blogHead {
  color: #ff9700;
  font-size: 24px;
  font-weight: 600;
}
.blogDetailsWrap p{
  font-size: 12px;
  font-weight: 600;
  color: #b4b4b4;
}
.blogDetailsWrap p span{
  color: #ff9700;
}
.blogpara p{
  font-weight: 500;
  font-size: 14px;
  color: rgb(66, 66, 66);
}
.blogImg img{
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin-bottom: 30px;
}
.RecentPost h3{
  font-weight: 600;
  font-size: 24px;
}
.recentList li{
  list-style-type: none;
  padding: 0;
  padding: 20px 0;
  border-bottom: 1px solid #e1e1e1;
}
.recentList{
  list-style-type: none;
  padding: 0;
}
.recentList h4{
font-weight: 600;
font-size: 18px;
}
.recentList p{
  font-size: 12px;
  font-weight: 600;
  color: #b4b4b4;
  text-transform: uppercase;
}
.recentList p span{
  color: #ff9700;
}
.postdiv{
position: relative;
}
.recentList li img{
  width: 100%;
}