
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font Awesome 5
@import '~@fortawesome/fontawesome-free/scss/v4-shims';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// Papaer Dashboard
@import '~paper-dashboard-2/assets/scss/paper-dashboard/variables';
@import '~paper-dashboard-2/assets/scss/paper-dashboard/mixins';

// Plugins CSS
@import "~paper-dashboard-2/assets/scss/paper-dashboard/plugins/plugin-animate-bootstrap-notify";
@import "~paper-dashboard-2/assets/scss/paper-dashboard/plugins/plugin-perfect-scrollbar";

// Core CSS
@import "~paper-dashboard-2/assets/scss/paper-dashboard/buttons";
@import "~paper-dashboard-2/assets/scss/paper-dashboard/inputs";
@import "~paper-dashboard-2/assets/scss/paper-dashboard/typography";
@import "~paper-dashboard-2/assets/scss/paper-dashboard/misc";
@import "~paper-dashboard-2/assets/scss/paper-dashboard/checkboxes-radio";

// components
@import "~paper-dashboard-2/assets/scss/paper-dashboard/navbar";
@import "~paper-dashboard-2/assets/scss/paper-dashboard/page-header";
@import "~paper-dashboard-2/assets/scss/paper-dashboard/dropdown";
@import "~paper-dashboard-2/assets/scss/paper-dashboard/alerts";
@import "~paper-dashboard-2/assets/scss/paper-dashboard/images";
@import "~paper-dashboard-2/assets/scss/paper-dashboard/tables";
@import "~paper-dashboard-2/assets/scss/paper-dashboard/sidebar-and-main-panel";
@import "~paper-dashboard-2/assets/scss/paper-dashboard/footers";
@import "~paper-dashboard-2/assets/scss/paper-dashboard/fixed-plugin";
// Must include separately due to pathing issue in @font-face call.
// @import "~paper-dashboard-2/assets/scss/paper-dashboard/nucleo-outline";
@import 'nucleo-icons';

// cards
@import "~paper-dashboard-2/assets/scss/paper-dashboard/cards";
@import "~paper-dashboard-2/assets/scss/paper-dashboard/cards/card-plain";
@import "~paper-dashboard-2/assets/scss/paper-dashboard/cards/card-chart";
@import "~paper-dashboard-2/assets/scss/paper-dashboard/cards/card-user";
@import "~paper-dashboard-2/assets/scss/paper-dashboard/cards/card-map";
@import "~paper-dashboard-2/assets/scss/paper-dashboard/cards/card-stats";
@import "~paper-dashboard-2/assets/scss/paper-dashboard/responsive";

// pickadatejs
@import "~pickadate/lib/compressed/themes/default.css";
@import "~pickadate/lib/compressed/themes/default.date.css";
@import "~pickadate/lib/compressed/themes/default.time.css";

// selectizejs
@import "~selectize/dist/css/selectize.bootstrap3.css";
@import "~selectize/dist/css/selectize.css";

// DataTables
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";

// File Manager Cropper
@import "../../../vendor/unisharp/laravel-filemanager/public/css/cropper.min.css";

// File Manager Loader
@import "../../../vendor/unisharp/laravel-filemanager/public/css/lfm.css";

// Mixins
@import 'mixins';

// File Manager jQuery UI Library
// @import "~jquery-ui/themes/base/all.css";

// File Manager FAB Buttons
@import 'fab';

// File Manager DropZonJS
@import 'dropzone';

// Helpers
@import '../../sass/partials/bs-visibility-classes';

// Forms
@import 'forms';

// Tables
@import 'tables';

// Fix sidebar overflow
.sidebar .sidebar-wrapper,
.off-canvas-sidebar .sidebar-wrapper {
    overflow-x: hidden;
}

// Top Nav
.dropdown-menu .dropdown-item {
    border-radius: inherit;
}

// Auth Template
.auth-page {
    height: 100%;
    width: 100%;
    background-color: $default-body-bg;
    margin-top: 2em;
}

// Loading
.loading {
    text-align: center;
    margin: 5em auto;
    .nc-icon {
        font-size: 30px;
    }
}
